# Docker Python SDK
docker

# For topology file parsing
pyyaml

# For modifying SCION configuration files
toml

# For generating SSH keys
cryptography

# SSH clients
paramiko     # used by docker
ssh2-python  # native backend of parallel-ssh
parallel-ssh # can use paramiko and parallel-ssh as backends
